<h1>New guest</h1>

<%= form_for @user, url: users_path do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <p>
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </p>
  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password %>		
  </p>
  
  <%= f.hidden_field :role, :value => 'guest' %>
  
  <p>
    <%= f.submit "Sign Up" %>
  </p>
  
<% end %>