<h1>Аvailable products:</h1>
  <p>
    <%= link_to 'Add product', new_product_path %> 
  </p>
  
  
  <% @products.each do |product| %>
    <br />
    <p>
        <%= image_tag product.image.url(:thumb)  %> <br />
        <strong><%= product.title %></strong>     <br />
        <%= product.description %><br />
        <%= link_to 'View', product_path(product) %> |
        <%= link_to 'Edit', edit_product_path(product) %>
        <hr>
    </p>
   <% end %>

 
