<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='container'>
    <div class='row'>
      <div class="col-md-4">
        <i>tmp links:</i><br />
        <%= link_to 'new admin', hfh6mdrxw2vwaj5oegy9_new_admin_path %><br />
        <%= link_to 'new shopkeeper', knfwonm7vaol2xxe9vtm_new_shopkeeper_path %><br />
        <%= link_to 'new guest', '#' %><br />
      </div>
      <div class="col-md-4">
        <% if current_user %>
          <i><%= current_user.role %></i>
          <%= current_user.name %> |
          <%= link_to "Log out", logout_path, method: "delete" %>
          <hr>
        <% else %> 
          <%= link_to "Login", 'login' %></a> |
          <%= link_to "Signup", 'signup' %></a>
        <% end %>
  
        <%= yield %>
      </div>
    <div class="col-md-4"></div>
    </div>
  </div>
</body>
</html>